# =========================
# Spring Boot / Maven
# =========================
target/
build/
out/

!.mvn/wrapper/maven-wrapper.jar

# Java
*.class
*.jar
*.war

# Logs
*.log

# Environment
.env
.env.*
application-local.properties

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Eclipse / STS
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Temporary files
set/
tmp/
temp/
#*
$*